mat-expansion-panel {
    width: 40vw;
}


.info-item-container {
    display: flex;
    flex-direction: column;

    .info-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.form{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 20px 0;
}

mat-label{
    font-size: 0.8em;
}

.button{
align-self: center;
padding: 5px 10px;
width: 45px;
font-size: 1.5em;
cursor: pointer;
}
