mat-expansion-panel {
    width: 40vw;
}

.info-item-container {
    display: flex;
    flex-direction: column;

    .info-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.form{
    display: flex;
    flex-direction: column;
    align-self: center;
}
