$accent-color: #1a3088;
$basic-color: #c1e9fc;

mat-card{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        animation-name: card;
        animation-duration: 0.50s;
        border-left: 5px solid $basic-color;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

mat-card-title{
    color: $accent-color;
}

mat-card-content{
    text-align: justify;
    padding: 0 40px;
}

.tap-span{
    padding: 20px 0;
    color: $accent-color;
}

@keyframes card {
    0%   {border-left: 2px solid #1b6e58;}
    25%  {border-left: 3px solid #06ecf4;}
    50%  {border-left: 4px solid #ff00aa;}
    100% {border-left: 5px solid #8095ff;}
}