mat-card{
    width: 20vw;
    height: 97%;
    margin-bottom: 15px;
}

.mat-mdc-card-avatar{
    width: 200px;
    height: 250px;
    border-radius: 0% 50%;
}

.mat-mdc-card-title{
    align-self: center;
}