<app-header [context]="'questionnaires'"></app-header>
<div class="container">
  <img class="image" src="assets/img/questionnaire-page.jpeg" alt="questionnaires page image" width="800">

  <div class="questionnaires">
    <mat-card *ngFor="let questionnaire of questionnaires$ | async"
      [routerLink]="'/questionnaires/' + questionnaire.id">
      <mat-card-header>
        <mat-card-title>{{ questionnaire.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>{{ questionnaire.description }}</mat-card-content>
    </mat-card>
  </div>

</div>