$basic-color: #C1E9FC;

.example-spacer {
  flex: 1 1 auto;
}

.button-signin {
  margin-right: 0.6rem;
}

.mat-toolbar {
  background-color: $basic-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  font-family: "Cormorant Garamond", serif;
  a{
    font-family: "Cormorant Garamond", serif;
  }
  // .profile-link mat-icon{
  //   transform: scale(1.7);  }
}

.link-menu{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.page-link{
  font-size: 1em;
}