$basic-color: #C1E9FC;

body{
  position: relative;
}

.example-spacer {
  flex: 1 1 auto;
}

.button-signin {
  margin-right: 0.6rem;
}

.mat-toolbar {
  background-color: $basic-color;
  position: sticky;
  top: 0;
}
