form {
  display: grid;
  padding-top: 5px;
}

.mdc-dialog__title {
  margin-bottom: 0;
  text-align: center;
}

.info {
  text-align: center;
}

.example-container mat-form-field+mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}