<div class="form">
  <mat-progress-bar class="progress-bar" mode="determinate" [value]="progress">
  </mat-progress-bar>

  <p class="question">
    {{ currentQuestion.name }}
  </p>

  <ul class="answers" [class.simplified]="currentQuestion.answers.length === 2">
    <li class="answer" *ngFor="let answer of currentQuestion.answers"
      [class.selected]="selectedAnswer && selectedAnswer.id === answer.id" (click)="selectAnswer(answer)">
      {{ answer.name }}
    </li>
  </ul>

  <nav class=" nav">
    <button mat-icon-button [disabled]="!currentQuestionIndex" (click)="previousQuestion()">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>

    <ng-container *ngIf="!isLastQuestion; then buttonNext else buttonFinish">
    </ng-container>
  </nav>
</div>

<ng-template #buttonNext>
  <button mat-icon-button [disabled]="!selectedAnswer" (click)="nextQuestion()">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</ng-template>

<ng-template #buttonFinish>
  <button mat-flat-button color="primary" (click)="finishQuestionnaire()" [disabled]="!selectedAnswer">Finish</button>
</ng-template>