body {
    position: relative;
}
.container-body {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25%, #c1e9fc 100%);
    position: relative;
    z-index: 0;
padding-bottom: 20px;
}

.info-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 50px;
    border-radius: 15px;
    background-color: rgba(64, 64, 64, 0.22);

    h2 {
        font-size: 2em;
        font-family: "Cormorant Garamond", serif;
    }
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;

    img {
        width: 600px;
    }
}
