body{
    position: relative;
}

.info-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding: 50px;
    border-radius: 15px;
    background-color: rgba(64, 64, 64, 0.22);
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;

    img{
        width: 600px;
    }
}
