<footer>

    <div class="logo-container">

    </div>

    <div class="copiright-container"></div>


    <div class="contacts-container">
        <div class="contact-item">
            <mat-icon>perm_phone_msg</mat-icon>
            <p>+380333333333</p>
        </div>
        <div class="contact-item">
            <mat-icon> call</mat-icon>
            <p>+380333333333</p>
        </div>
        <div class="contact-item">
            <mat-icon> contact_mail</mat-icon>
            <p>psychology-help@gmail.com</p>
        </div>
    </div>

</footer>