$basic-color: #47809a89;


footer{
    height: 100px;
    display: flex;
    padding: 10px;
    background-color: $basic-color;
}

.contacts-container{
    display: flex;
    flex-direction: column;
    flex: 1;

}

.contact-item{
display: flex;
}

.copiright-container{
    flex: 1;
}

.logo-container{
    flex: 1;
}