<div class="form-container">
    <h2 class="form-title">Register for therapy</h2>

    <div class="text-container" *ngIf="!isRegister">
       <p>Please,<a (click)="close()" routerLink="/register">register</a> and return</p>
    </div>

    <div class="register-form-container" *ngIf="isRegister" >
        <label class="formLabel">
            Specialist name:
                <select class="form-input" name="specialist-name" id="specialist-name" placeholder="Enter specialist" [(ngModel)]="specialistName" *ngFor="let specialist of specialists | async">
                    <option value={{specialist.name}}>{{specialist.name}}</option>
                </select>
        </label>

        <label class="formLabel">
            Fill phone number:
            <input class="form-input" type="" id="phoneNumber" minlength="8" maxlength="30"
                placeholder="Enter your phone number" [(ngModel)]="phoneNumber">
        </label>

        <app-date-input name="fieldName" ngDefaultControl [(ngModel)]="therapyDate"></app-date-input>
    
    </div>

    <div class="button-container">
        <button class="save-button button" id="save" (click)="add(phoneNumber,specialistName,therapyDate)" *ngIf="isRegister">&#10003;</button>
        <button class="cancel-button button" id="cancel" (click)="close()">&#10008;</button>
    </div>
</div>