$call-button-color: rgb(247, 4, 121);

#call-menu-buttton {
    border: 1px dashed $call-button-color;
    color: $call-button-color ;
    border-radius: 50% 50%;
    padding: 40px 12px;
    font-size: 2em;
    font-weight: 600;

}

.call-menu-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
