<div class="call-menu-container">
  <button id="call-menu-buttton" mat-button color="warn" [matMenuTriggerFor]="menu">Call</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openCallDialog()"><mat-icon> call</mat-icon>Request a call</button>
  <button mat-menu-item (click)="openImCallDialog()"><mat-icon>phone_in_talk</mat-icon> Call immediately</button>
  <button mat-menu-item (click)="openTherapyDialog()"><mat-icon> contact_phone</mat-icon> Register for therapy</button>
</mat-menu>
</div>