$basic-color: #C1E9FC;

.example-spacer {
  flex: 1 1 auto;
}

.button-signin {
  margin-right: 0.6rem;
}

.mat-toolbar {
  background-color: $basic-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  font-family: "Cormorant Garamond", serif;

  a {
    font-family: "Cormorant Garamond", serif;
  }

  .link-menu {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .page-link {
      font-size: 1em;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 5fr 6fr;

  min-height: 100vh;
  align-content: center;
  gap: 5rem;
}

img {
  justify-self: flex-end;
}

.example-container mat-form-field+mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.form {
  width: 30rem;
  height: fit-content;

  display: grid;
  justify-self: center;
  align-self: center;
  gap: 0.4rem;

  margin-top: 2rem;
  margin-right: 4rem;

}

mat-hint {
  justify-self: flex-end;
}