mat-expansion-panel{
    width: 40vw;
}

.info-item-container{
    display: flex;
    flex-direction: column;

    .info-item{
        display: flex;
        justify-content: space-around;
    }
}

form{
    display: flex;
    align-self: center;
}

.button{
    align-self: center;
    padding: 5px 10px;
    width: 45px;
    margin: 0 10px;
    font-size: 1.5em;
    cursor: pointer;
    }